@page "/firewall"

@using Azure_Firewall_Enterprise_Policy_Manager.Data
@using Newtonsoft.Json.Linq
@inject FirewallRuleService FirewallService

@if(policy == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>                
            </tr>
        </thead>
        <tbody>            
                <tr>
                    <td>@policy</td>
                </tr>
        </tbody>
    </table>
}


@code {
    private JObject policy;

    protected override async Task OnInitializedAsync()
    {
        string stringPolicy = await FirewallService.GetFirewallPolicy();
        policy = JObject.Parse(stringPolicy);
    }
}
