@page "/policy"

@using Azure_Firewall_Enterprise_Policy_Manager.Data
@using Newtonsoft.Json.Linq
@using System.Collections.Generic
@inject FirewallRuleService FirewallService

@if (networkRule == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="Add">Add Network Rule</button>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="networkRule-tab" data-toggle="tab" href="#nav-networkRule" role="tab"
            aria-controls="networkRule" aria-selected="true">Network Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="applicationRule-tab" data-toggle="tab" href="#nav-applicationRule" role="tab"
            aria-controls="applicationRule" aria-selected="false">Application Rule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="dNatRule-tab" data-toggle="tab" href="#nav-dNatRule" role="tab" aria-controls="dNatRule"
            aria-selected="false">Destination NAT Rule</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="networkRule" role="tabpanel" aria-labelledby="networkRule-tab">
            @foreach (string p in networkRule)
            {
                <div class="card">
                    <div class="card-body">
                        <p>@p</p>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="applicationRule" role="tabpanel" aria-labelledby="applicationRule-tab">
            @foreach (string a in appRule)
            {
                <div class="card">
                    <div class="card-body">
                        <p>@a</p>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="dNatRule" role="tabpanel" aria-labelledby="dNatRule-tab">
            @foreach (string d in dnatRule)
            {
                <div class="card">
                    <div class="card-body">
                        <p>@d</p>
                    </div>
                </div>
            }
        </div>
    </div>

}


@code {
    private List<string> networkRule;
    private List<string> appRule;
    private List<string> dnatRule;
    private int count;

    protected override async Task OnInitializedAsync()
    {
        //string stringPolicy = await FirewallService.GetFirewallPolicy();
        networkRule = new List<string>() { "First", "Second" }; //JObject.Parse(stringPolicy);
        appRule = new List<string>() { "App1", "App2" }; //JObject.Parse(stringPolicy);
        dnatRule = new List<string>() { "dnat1", "dnat2" }; //JObject.Parse(stringPolicy);

        count = 1;
    }

    private void Add()
    {
        networkRule.Add("Another" + count.ToString());
        count++;
        StateHasChanged();
    }
}
